<template>
  <div>
    <div class="login-form" :style="{backgroundImage: `url(${backgroundUrl})`}" >
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="card px-5">

            <div class="card-header text-center bg-transparent">
              <img :src="logoImage" class="mt-4">
              <p class="welcome-login">Welcome, Please login to your account.</p>
            </div>
            <div class="card-body py-4">
              <Form @submit="onSubmit" v-slot="{ errors }">

                <div class="form-group" :class="errors.email ? 'field-error' : ''">
                  <label for="name">Username or Email</label>
                  <Field type="text" name="email" class="form-control shadow-none" :rules="emailRules" required placeholder="Enter your username or email"/>
                  <ErrorMessage name="email" />
                </div>
                <div class="form-group"  :class="errors.password ? 'field-error' : ''">
                  <label for="name">Password</label>
                  <Field type="password" name="password" class="form-control shadow-none error-color-inpt" :rules="passwordRules" required placeholder="Enter your password"/>
                  <ErrorMessage name="password" />
                </div>

                <div class="login-btn">
                  <a class="m-0" href="/homepage">
                    <button type="submit" class="btn">
                      Login
                      <img :src="require('@/assets/images/arrow-right.svg')">
                    </button>
                  </a>

                  <router-link :to="{name: 'forget-password'}"><p class="forget-psw">Forgot password?</p></router-link>
                </div>
              </Form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>

<script>
import backgroundUrl from "@/assets/images/login-banner.png";
import logoImage from "@/assets/images/logo-1.png";
import { Form, Field, ErrorMessage  } from 'vee-validate';
import * as yup from 'yup';

export default {
  name: 'Login',
  components: {
    Form,
    Field,
    ErrorMessage,
  },
  data() {
    return {
      backgroundUrl,
      logoImage,
      passwordRules: yup.string().required().min(8),
      emailRules: yup.string().required(),
    }
  },
  computed: {
    isFormDirty() {
      return Object.keys(this.fields).some(key => this.fields[key].dirty);
    }
  },
  methods: {
    onSubmit() {
      window.location = '/homepage'
      console.log('form submitted!');
    },
  },
}
</script>

<style scoped>
</style>
