<template>
  <div>
    <section>
      <div class="navigation-wrap bg-light-1 start-header my-account-header">
        <div class="container">
          <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-2 col-6 ">
              <div class="site-logo site-top-logo">
                <div class="logo-icon">
                  <a href="/homepage"><img :src="require('@/assets/images/logo-1.png')"></a>
                </div>
              </div>
            </div>
            <div class="col-xl-10 col-lg-10 col-md-10 col-6">
              <nav class="navbar navbar-expand-md navbar-light">

                <a class="navbar-brand" href="" target="_blank"><img src="assets/img/logo.png" alt=""></a>

                <button class="navbar-toggler bg-transparent border-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav top-menu">
                    <li class="nav-item ">
                      <router-link class="nav-link nav-link-my-acunt " :to="{'name': 'search-ad'}">Ad Search</router-link>
                    </li>
                    <li class="nav-item">
                      <router-link class="nav-link nav-link-my-acunt " :to="{'name': 'my-account'}">My Account</router-link>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link nav-link-my-acunt" href="#">Help Center</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link nav-link-my-acunt" href="#">Example</a>
                    </li>
                    <li class="nav-item logout-btn">
                      <a class="nav-link my-account-logout red-button" href="#">Log out</a>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="drop-my-accnt">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="my-acnt-text">
              <h1 class="heading-account-text">My Account</h1>
            </div>
          </div>
        </div>
        <div class="col-md-10 cls-dropdown">
            <div id="accordion">
              <div class="row">
                <div class="card-1">
                  <div class="card-header-1" id="headingOne">
                    <h5 class="mb-0 d-flex justify-content-between align-items-center pr-2" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      <button class="btn btn-link" >
                        info
                      </button>
                      <i class="fas fa-chevron-down down-arrow"></i>
                    </h5>
                  </div>

                  <div id="collapseOne" class="collapse show mx-5" aria-labelledby="headingOne" data-parent="#accordion">
                    <i class="fas fa-chevron-up collapse-arrow" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"></i>
                    <div class="row ">
                      <div class="col-md-4">
                        <div class="form-indropdown">
                          <div class="form-data">
                            <label class="form-label" >First Name</label>
                            <input type="text" class="form-control-data shadow-none" placeholder="Anton">
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-indropdown">
                          <div class="form-data">
                            <label class="form-label">Last Name</label>
                            <input type="text" class="form-control-data shadow-none" placeholder="Pecherits">
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-indropdown">
                          <div class="form-data">
                            <label class="form-label">Company</label>
                            <input type="text" class="form-control-data shadow-none" placeholder="Start Online">
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-indropdown">
                          <div class="form-data">
                            <label class="form-label">Email</label>
                            <input type="text" class="form-control-data shadow-none" placeholder="Antonpecherits4@gmal.com">
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-indropdown">
                          <div class="form-data">
                            <label class="form-label">New Email</label>
                            <input type="text" class="form-control-data shadow-none" placeholder="Enter new email">
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-indropdown">
                          <div class="form-data">
                            <label class="form-label">
                            &nbsp;</label>
                            <a class="verify-btn m-0" href="javascript:void(0)">Verify Email</a>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-12 changes-btn">
                        <div class="save-change-btn">
                          <a class="save-changes-btn red-button" href="javascript:void(0)">Save Changes</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="card-1">
                  <div class="card-header-1" id="headingTwo">
                    <h5 class="mb-0 d-flex justify-content-between align-items-center pr-2" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      <button class="btn btn-link collapsed" >
                        Subscription
                      </button>
                      <i class="fas fa-chevron-down down-arrow" ></i>
                    </h5>
                  </div>
                  <div id="collapseTwo" class="collapse  mx-5" aria-labelledby="headingTwo" data-parent="#accordion">
                    <i class="fas fa-chevron-up collapse-arrow" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"></i>
                    <div class="row subscription-wrapper">
                      <div class="col-md-4 start-end-date">
                        <div class="date-subscription">
                          <p class="start-date">Start Date :<span class="start-date-spn"> June 10, 2021</span></p>
                        </div>
                      </div>
                      <div class="col-md-8 start-end-date">
                        <div class="date-subscription">
                          <p class="start-date">End Date :<span class="start-date-spn"> July 10, 2021</span></p>
                        </div>
                      </div>
                      </div>
                    <div class="row mb-4 mb-lg-0 subscription-wrapper">
                      <div class="col-md-4 start-end-date">
                        <div class="date-subscription">
                          <p class="start-date">Analysis :</p>
                        </div>
                      </div>
                      <div class="col-md-3 analysis-cls">
                        <div class="analysis">
                          <p class="total-num">100000</p>
                          <span class="total">Total</span>
                        </div>
                      </div>
                      <div class="col-md-2 analysis-cls">
                        <div class="analysis">
                          <p class="total-num">17,800</p>
                          <span class="total">Used</span>
                        </div>
                      </div>
                      <div class="col-md-3 analysis-cls">
                        <div class="analysis">
                          <p class="total-num">82,200</p>
                          <span class="total">Left</span>
                        </div>
                      </div>
                    </div>
                    <div class="row subscription-btn-wrapper">
                      <div class="col-lg-4 text-center">
                        <div class="coupon-section">
                          <div class="form-data apply-coupon-btn">
                            <label class="form-label">
                              &nbsp;
                            </label>
                            <a href="javascript:void(0)" class="apply-coupon"> Apply Coupon</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="coupon-section pb-4 pb-lg-0">
                        <div class="form-data ">
                          <label class="form-label">
                            &nbsp;
                          </label>
                          <div class="manage-btn">
							<router-link class="subscription-btn red-button" :to="{'name': 'subscription'}">Manage Subscription</router-link>
                          </div>
                        </div>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="card-1">
                  <div class="card-header-1" id="headingThree">
                    <h5 class="mb-0 d-flex justify-content-between align-items-center pr-2" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                      <button class="btn btn-link">
                        Security
                      </button>
                      <i class="fas fa-chevron-down down-arrow"></i>
                    </h5>
                  </div>

                  <div id="collapseThree" class="collapse mx-5" aria-labelledby="headingThree" data-parent="#accordion">
                    <i class="fas fa-chevron-up collapse-arrow" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree"></i>
                    <div class="row ">
                      <div class="col-lg-4 col-12">
                        <div class="form-indropdown">
                          <div class="form-data">
                            <label class="form-label">Current Password</label>
                            <input type="text" class="form-control-data shadow-none" placeholder=".......">
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-12">
                        <div class="form-indropdown">
                          <div class="form-data">
                            <label class="form-label">New</label>
                            <input type="text" class="form-control-data shadow-none" placeholder="Enter New Password">
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4 col-12">
                        <div class="form-indropdown">
                          <div class="form-data">
                            <label class="form-label">Confirm</label>
                            <input type="text" class="form-control-data shadow-none" placeholder="Confirm Password">
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-12 changes-btn">
                        <div class="save-change-btn">
                          <a class="save-changes-btn red-button" href="javascript:void(0)">Save Password</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="card-1">
                  <div class="card-header-1" id="headingFour">
                    <h5 class="mb-0 d-flex justify-content-between align-items-center pr-2" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                      <button class="btn btn-link">
                        Affiliate
                      </button>
                      <i class="fas fa-chevron-down down-arrow"></i>
                    </h5>
                  </div>
                  <div id="collapseFour" class="collapse mx-5" aria-labelledby="headingFour" data-parent="#accordion">
                    <i class="fas fa-chevron-up collapse-arrow" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour"></i>
                    <div class="row affiliate-wrapper no-gutters">
                      <div class="col-lg-5 col-12 affiliate">
                        <div class="date-subscription">
                          <p class="start-date">Your Affiliate code :<span class="start-date-spn"> 50B879410</span></p>
                        </div>
                      </div>
                      <div class="col-lg-4 col-12 affiliate">
                        <div class="date-subscription">
                          <p class="start-date">Countable revenue :<span class="start-date-spn"> 587$</span></p>
                        </div>
                      </div>
                      <div class="col-lg-3 col-12 text-center">
                        <div class="btn-affiliare">
                          <a href="javascript:void(0)" class="with-draw"> Withdraw</a>
                        </div>
                      </div>
                    </div>
                    <div class="row affiliate-wrapper no-gutters mt-3">
                      <div class="col-md-3">
                        <div class="urls-part">
                          <p class="url">URLs :</p>
                        </div>
                      </div>
                      <div class="col-md-8">
                        <div class="https-link">
                          <ul>
                            <li>1. https://app.pinspy.com/.?07154d4</li>
                            <li>2.  https://app.pinspy.com/registration_35416521/45>_page</li>
                            <li>3.  https://app.pinspy.com/.?verify-email</li>
                            <li>4.  https://app.pinspy.com/.?login_page</li>

                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="row mb-4 mb-lg-5">
                      <div class="col-lg-2 col-12 start-end-date">
                        <div class="date-subscription">
                          <p class="start-date">Statistics :</p>
                        </div>
                      </div>
                      <div class="col-lg-2 col-6 analysis-cls">
                        <div class="analysis">
                          <p class="total-num">056</p>
                          <span class="total">Clicks</span>
                        </div>
                      </div>
                      <div class="col-lg-3 col-6 analysis-cls">
                        <div class="analysis">
                          <p class="total-num">04</p>
                          <span class="total">Registration</span>
                        </div>
                      </div>
                      <div class="col-lg-3 col-6 analysis-cls">
                        <div class="analysis">
                          <p class="total-num">02</p>
                          <span class="total">With trial coupon</span>
                        </div>
                      </div>
                      <div class="col-lg-2 col-6 analysis-cls">
                        <div class="analysis">
                          <p class="total-num">04</p>
                          <span class="total">Subscriptions</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </section>
    <section class="footer">
      <div class="container">
        <div class="row for-border">
          <div class="w-100 footer-logo-center">
            <div class="footer-logo">
              <a class="m-0" href="/homepage">
                <img :src="require('@/assets/images/logo-2.png')">
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="rights">
      <div class="container">
        <div class="row">
          <div class="d-flex w-50 justify-content-between rights-content-1">
            <div class="rights-text">
              <p>Printerest Mastery BV</p>
            </div>
          </div>
          <div class="w-50 d-flex justify-content-end">
            <div class="w-75 d-flex justify-content-end">
              <div class="rights-content">
                <div class="mr-4">
                  <p><a href="/simple_content_page/privacy_policy.html">Privacy policy</a></p>
                </div>
              </div>
              <div class="rights-content">
                <div class="">
                  <p><a class="m-0" href="/simple_content_page/terms_conditions.html">Terms and conditions</a></p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
  </div>
</template>

<script>
import backgroundUrl from "@/assets/images/banner-image.png";
import logoImage from "@/assets/images/logo.png";
import * as yup from 'yup';

export default {
  name: 'Subscription',
  data() {
    return {
      backgroundUrl,
      logoImage,
      password: yup.string().required().min(8),
      confirm_password: yup.string().required().min(8),
    }
  },
  methods: {
    onSubmit() {
      this.$router.push({'name': 'Login'})
      console.log('form submitted!');
    },
  },
}
</script>

<style scoped>
.navbar-toggler-icon:after, .navbar-toggler-icon:before {
  background: #E9191F;
}

.navbar-toggler-icon {
  border-color: #E9191F;
}

a.my-account-logout.red-button:hover {
  color: #E9191F !important;
}
</style>
