<template>
  <div>
    <section>
      <div class="navigation-wrap bg-light-1 start-header start-style">
        <div class="container">
          <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-2 col-6 ">
              <div class="site-logo site-top-logo">
                <div class="logo-icon">
                  <a href="/homepage"><img :src="require('@/assets/images/logo.png')"></a>
                </div>
              </div>
            </div>
            <div class="col-xl-10 col-lg-10 col-md-10 col-6">
              <nav class="navbar navbar-expand-md navbar-light">

                <a class="navbar-brand" href="" target="_blank"><img src="assets/img/logo.png" alt=""></a>

                <button class="navbar-toggler bg-transparent border-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav top-menu">
                    <li class="nav-item ">
                      <router-link class="nav-link " :to="{'name': 'search-ad'}">Ad Search</router-link>
                    </li>
                    <li class="nav-item">
                      <router-link class="nav-link " :to="{'name': 'my-account'}">My Account</router-link>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Help Center</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Example</a>
                    </li>
                    <li class="nav-item logout-btn">
                      <a class="nav-link" href="#">Log out</a>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="banner-img-section" :style="{backgroundImage: `url(${require('@/assets/images/banner-image-detail.png')})`}">
      <div class="container">
        <div class="row">
        </div>
      </div>
    </section>
    <section class="info-screen-section">
      <div class="container ">
        <div class="row">
          <div class="col-md-12">
            <div class="for-bg-color">
              <div class="col-12">
              <div class="row back-btn px-4 py-lg-5 py-4">
                <div class="col-lg-6 col-md-6 col-12 for-text-backads my-2 md-md-0">
                  <div class="">
                    <ul>
                      <li>
                        <router-link class="search-ad-back" :to="{'name': 'search-ad'}">
                        <i class="fas fa-arrow-left mr-2"></i>Back to ads
                        </router-link>
                      </li>
                    </ul>

                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                  <div class="dropdown-select-search select-lebel ">
                    <select class="search-selection">

                      <option value="newyork" selected>Select Label</option>
                      <option value="chicago">Chicago</option>
                      <option value="losangeles">Los Angeles</option>
                      <option value="seattle">Seattle</option>
                      <option value="dallas">Dallas</option>
                      <option value="boston">Boston</option>
                      <option value="sanfran">San Francisco</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="mx-md-5 mx-2 mt-5">
              <div class="row img-section"> 
                <div class="col-lg-6 col-md-12">
                  <div class="img-section-img">
                    <img :src="require('@/assets/images/tab-img1.png')">
                    <div class="top-left">
                      <div class="info-arrow">
                        <div class="info">
                          <img :src="require('@/assets/images/info.png')">
                        </div>
                        <div class="info">
                          <img :src="require('@/assets/images/arrow.png')">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-12">
                  <div class="d-flex flex-wrap text-area">
                    <div class="col-lg-6 col-md-6 col-6 icon-btn">
                      <div class="more-icon">
                        <img :src="require('@/assets/images/more.png')">
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-6">
                      <div class="save-btn">
                        <button class="red-button">Save</button>
                      </div>
                    </div>
                    <div class="discription">
                      <p class="behance-text">Behance.net</p>
                      <h1 class="Summit-text">Summit - Global Latin Leaders</h1>
                      <p class="brand-1">Branding for christian leadership Event</p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-6 icon-btn">
                      <div class="behance-logo">
                        <img :src="require('@/assets/images/beh-logo.png')">
                        <div class="line">
                          <span>Behance</span>
                          <p class="follow">4.9m Followers</p>
                        </div>

                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-6">
                      <div class="follow-btn">
                        <button>Follow</button>
                      </div>
                    </div>
                    <p class="bold-branding">Branding for christian leadership Event</p>
                  </div>
                </div>
              </div>
              <div class="row mb-5">
              <div class="col-lg-6">
                <div class="box">
                  <h3>Pins Over Time </h3>
                  <highcharts :options="chartOptions"></highcharts>
                </div>
              </div>
              <div class="col-lg-6 mt-lg-0 mt-3">
                <div class="graph-align">
                  <div class="graph-section">
                    <h1><span>
                    Demographics</span></h1>
                  </div>
                  <div class="col-12">
                  <div class="graph-img-text">
                     <div class="col-lg-8 offset-lg-2">
                      <div class="gender">
                        <h1>gender:</h1>
                      </div>
                       <div>
                         <highcharts class="pie-chart" :options="genderChartOptions"></highcharts>
                       </div>
                    </div>
                  </div>
                   <div class="graph-img-text">
                    <div class="col-lg-8 offset-lg-2">
                      <div class="gender">
                        <h1>Countris:</h1>
                      </div>
                      <div>
                        <highcharts class="pie-chart" :options="countriesChartOptions"></highcharts>
                      </div>
                    </div>
                  </div>
                   <div class="graph-img-text">
                  <div class="col-lg-8 offset-lg-2">
                    <div class="gender">
                      <h1>Age:</h1>
                    </div>
                    <div>
                      <highcharts class="pie-chart" :options="pieChartOptions"></highcharts>
                    </div>
                  </div>
                </div>
                  </div>
                </div>
              </div>
            </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="footer">
      <div class="container">
        <div class="row for-border">
          <div class="w-100 footer-logo-center">
            <div class="footer-logo">
              <a class="m-0" href="/homepage">
                <img :src="require('@/assets/images/logo-2.png')">
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="rights">
      <div class="container">
        <div class="row">
          <div class="d-flex w-50 justify-content-between rights-content-1">
            <div class="rights-text">
              <p>Printerest Mastery BV</p>
            </div>
          </div>
          <div class="w-50 d-flex justify-content-end">
            <div class="w-75 d-flex justify-content-end">
              <div class="rights-content">
                <div class="mr-4">
                  <p><a href="/simple_content_page/privacy_policy.html">Privacy policy</a></p>
                </div>
              </div>
              <div class="rights-content">
                <div class="">
                  <p><a class="m-0" href="/simple_content_page/terms_conditions.html">Terms and conditions</a></p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
  </div>
</template>

<script>
import backgroundUrl from "@/assets/images/banner-image.png";
import logoImage from "@/assets/images/logo.png";
import backArrow from "@/assets/images/back_arrow.svg";
import {Chart} from 'highcharts-vue';
import * as yup from 'yup';

export default {
  name: 'SearchAd',
  components: {
    highcharts: Chart
  },
  data() {
    return {
      backgroundUrl,
      logoImage,
      backArrow,
      chartOptions: {
        credits: {
          enabled: false
        },
        chart: {
          type: 'area',
          marginRight: 40,
          spacingLeft: 40,
          spacingBottom: 50
        },
        title: {
          text: null
        },

        xAxis: {
          lineColor: '#eeeeee',
          categories: ['2011-12', '2012-13', '2013-14', '2014-15', '2014-15', '2015-16', '2016-17'],
          labels: {
            style: {
              color: '#999999'
            },
            y: 35
          },
          tickColor: '#eeeeee',
          tickmarkPlacement: 'on'
        },
        yAxis: {
          gridLineColor: '#eeeeee',
          title: {
            text: false
          },
          min: -50,
          max: 400,
          tickInterval: 50,
          labels: {
            style: {
              color: '#999999',
              fontSize: '9px'
            }
          },
          plotLines: [{
            value: 0,
            width: 1,
            color: '#808080'
          }]
        },
        tooltip: {
          backgroundColor: 'white',
          borderColor: null,
          borderWidth: null
        },
        legend: {
          layout: 'horizontal',
          align: 'left',
          verticalAlign: 'top',
          symbolHeight: 11,
          symbolWidth: 11,
          symbolPadding: 10,
          borderWidth: 0,
          y: -10,
          x: -15,
          padding: 15,
          itemDistance: 35,
          itemMarginTop: 10,
          itemMarginBottom: 5,
          itemStyle: {
            color: "#2D282A",
            fontSize: 12,
            fontWeight: 'normal'
          }
        },
        plotOptions: {
          area: {
            lineWidth: 0,
            marker: {
              symbol: 'circle'
            }
          },
          series: {
            fillOpacity: 0.1,
            stickyTracking: false,
            states: {
              hover: {
                halo: {
                  size: 8
                }

              }
            }
          }
        },
        series: [{
          name: 'Like over time',
          data: [300, 250, 250, 150, 200, 50, 300, 300],
          color: '#EF5261',
          marker: {
            height: 10,
            width: 10,
          },
        }, {
          name: 'Views',
          data: [0, 25, 0, 0, 0, 0, 50, 0],
          color: '#38C976',
          marker: {
            height: 10,
            width: 10,
          }
        }]
      },
      genderChartOptions: {
        chart: {
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false,
          type: 'pie',
          width: 250,
          height: 200,
          spaceLeft: 50,
        },
        title: {
          text: null
        },
        tooltip: {
          pointFormat: '<b>{point.y}</b>'
        },
        plotOptions: {
          pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
              enabled: false
            },
            showInLegend: true,
            slicedOffset: 3
          }
        },
        legend: {
          layout: 'vertical',
          align: 'left',
          verticalAlign: 'middle',
          symbolHeight: 11,
          symbolWidth: 11,
          symbolPadding: 10,
          borderWidth: 0,
          y: -10,
          x: -15,
          padding: 15,
          itemDistance: 35,
          itemMarginTop: 10,
          itemMarginBottom: 5,
          itemStyle: {
            color: "#2D282A",
            fontSize: 12,
            fontWeight: 'normal'
          }
        },
        credits: {
          enabled: false,
        },
        series: [{
          name: 'Age',
          colorByPoint: true,
          data: [{
            name: 'Female',
            y: 5,
            sliced: true,
            color: '#38C976',
            selected: true
          }, {
            color: '#EF5261',
            name: 'Male',
            y: 3
          }]
        }]
      },
      pieChartOptions: {
        chart: {
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false,
          type: 'pie',
          width: 250,
          height: 200,
          spaceLeft: 50,
        },
        title: {
          text: null
        },
        tooltip: {
          pointFormat: '<b>{point.y}</b>'
        },
        plotOptions: {
          pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
              enabled: false
            },
            showInLegend: true,
            slicedOffset: 3
          }
        },
        legend: {
          layout: 'vertical',
          align: 'left',
          verticalAlign: 'middle',
          symbolHeight: 11,
          symbolWidth: 11,
          symbolPadding: 10,
          borderWidth: 0,
          y: -10,
          x: -15,
          padding: 15,
          itemDistance: 35,
          itemMarginTop: 10,
          itemMarginBottom: 5,
          itemStyle: {
            color: "#2D282A",
            fontSize: 12,
            fontWeight: 'normal'
          }
        },
        credits: {
          enabled: false,
        },
        series: [{
          name: 'Age',
          colorByPoint: true,
          data: [{
            name: '17 - 25',
            y: 5,
            sliced: true,
            color: '#38C976',
            selected: true
          }, {
            name: '25 - 40',
            color: '#EF5261',
            y: 3
          }, {
            name: '40 - 50',
            color: '#E09523',
            y: 3
          }]
        }]
      },
      countriesChartOptions: {
        chart: {
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false,
          type: 'pie',
          width: 250,
          height: 200,
          spaceLeft: 50,
        },
        title: {
          text: null
        },
        tooltip: {
          pointFormat: '<b>{point.y}</b>'
        },
        plotOptions: {
          pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
              enabled: false
            },
            showInLegend: true,
            slicedOffset: 3
          }
        },
        legend: {
          layout: 'vertical',
          align: 'left',
          verticalAlign: 'middle',
          symbolHeight: 11,
          symbolWidth: 11,
          symbolPadding: 10,
          borderWidth: 0,
          y: -10,
          x: -15,
          padding: 15,
          itemDistance: 35,
          itemMarginTop: 10,
          itemMarginBottom: 5,
          itemStyle: {
            color: "#2D282A",
            fontSize: 12,
            fontWeight: 'normal'
          }
        },
        credits: {
          enabled: false,
        },
        series: [{
          name: 'Age',
          colorByPoint: true,
          data: [{
            name: 'German',
            y: 5,
            color: '#38C976',
            sliced: true,
            selected: true
          }, {
            name: 'Yemen',
            color: '#EF5261',
            y: 3
          }]
        }]
      },
      password: yup.string().required().min(8),
      confirm_password: yup.string().required().min(8),
    }
  },
  methods: {
    onSubmit() {
      this.$router.push({'name': 'Login'})
      console.log('form submitted!');
    },
    onResize() {
      if (window.innerWidth > 992 && window.innerWidth <= 1024) {
        this.pieChartOptions.chart.width = 200;
        this.genderChartOptions.chart.width = 200;
        this.countriesChartOptions.chart.width = 200;
        this.pieChartOptions.chart.height = 160;
        this.genderChartOptions.chart.height = 160;
        this.countriesChartOptions.chart.height = 160;
      }

      if (window.innerWidth < 992) {
        this.pieChartOptions.chart.width = 235;
        this.genderChartOptions.chart.width = 235;
        this.countriesChartOptions.chart.width = 235;
        this.pieChartOptions.chart.height = 160;
        this.genderChartOptions.chart.height = 160;
        this.countriesChartOptions.chart.height = 160;
      }
    }
  },
  mounted() {
    window.addEventListener('resize', this.onResize)
    this.onResize();
  },
}
</script>
<style scoped>
</style>
