<template>
  <div>
    <section>
      <div class="navigation-wrap bg-light-1 start-header start-style">
        <div class="container">
          <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-2 col-6 ">
              <div class="site-logo site-top-logo">
                <div class="logo-icon">
                  <a href="/homepage"><img :src="logoImage"></a>
                </div>
              </div>
            </div>
            <div class="col-xl-10 col-lg-10 col-md-10 col-6">
              <nav class="navbar navbar-expand-md navbar-light">

                <a class="navbar-brand" href="" target="_blank"><img src="assets/img/logo.png" alt=""></a>

                <button class="navbar-toggler bg-transparent border-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav top-menu">
                    <li class="nav-item ">
                      <router-link class="nav-link " :to="{'name': 'search-ad'}">Ad Search</router-link>
                    </li>
                    <li class="nav-item">
                      <router-link class="nav-link " :to="{'name': 'my-account'}">My Account</router-link>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Help Center</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Example</a>
                    </li>
                    <li class="nav-item logout-btn">
                      <a class="nav-link" href="#">Log out</a>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="banner-img-section" :style="{backgroundImage: `url(${backgroundUrl})`}">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="heading-text pb-4 mt-3 mt-sm-5">
              <h1 class="mb-3 mb-sm-5">Search for Ads</h1>
            </div>
            <form class="expanding-search-form">
              <div class="search-dropdown">
               <div class="comments-wrapper">
                  <label @click.stop="openCommets" class="trigger">{{ currentComments }}<img src="/img/Left.e68b2b39.svg" class="down-arrow-search"></label>
                  <ul class="comments-data " v-click-outside="hidePopupComment" v-show="commetsPopup">
                    <li @click="changeCommets($event, 'Comments')">Comments</li>
                    <li @click="changeCommets($event, 'Everything')">Everything</li>
                    <li @click="changeCommets($event, 'People')">People</li>
                    <li @click="changeCommets($event, 'Products')">Products</li>
                    <li @click="changeCommets($event, 'Blog')">Blog</li>
                  </ul>
               </div>
              </div>
              <div class="search-icon position-relative">
                <img class="fa-search" :src="require('@/assets/images/Search.svg')">
                <input class="search-input" id="global-search" type="search" placeholder="  Search ad..">
              </div>

            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="btns-after-searchbar">
              <button class="btn-clear">Clear All</button>
              <button class="btn-filter">Add to Filter</button>
              <button class="btn-preview">Preview</button>
            </div>
          </div>
        </div>


        <div class="search-form">
          <form action="" method="GET" name="search" role="search">
            <div class="row for-align-form">
              <div class="col-lg-4">
                <div class="inp-wrap  for-select-color gender-popup-wrapper position-relative">
                  <label for="categories" class="grid-20">Gender</label>
                  <div class="dropdown-input-wrapper">
                  <input type="text" placeholder="Select Gender" readonly name="categories" v-model="gender" @click.stop="openGender" id="categories" class="grid-80 dropdown-input">
                  <img :src="require('@/assets/images/Left.svg')" class="down-arrow-search">
                  <ul class="gender-list dropdown-list" v-click-outside="hideGenderPopup" v-show="genderPopup">
                    <li class="list-item">
                      <input type="radio" v-model="gender" name="gender" value="male" id="male">
                      <label for="male">Male</label>
                    </li>
                    <li class="list-item">
                      <input type="radio" v-model="gender" name="gender" value="female" id="female">
                      <label for="female">Female</label>
                    </li>
                    <li class="list-item">
                      <input type="radio" v-model="gender" name="gender" value="other" id="other">
                      <label for="other">Other</label>
                    </li>
                    <li class="list-footer">
                      <a href="javascript:void(0)" class="save-btn" @click="openGender">OK</a>
                      <a href="javascript:void(0)" class="reset-btn" @click="openGender">Reset</a>
                    </li>
                  </ul>
                    </div>
                </div>
              </div>

              <div class="col-lg-4">
  
                <div class="inp-wrap cat-wrap">
                  <label for="age" @click="showDatepicker = true" class="grid-20">Age</label>
                  <DatePicker v-model="date" :max-date="new Date()" class="datepicker-wrapper">
                  <template v-slot="{ inputValue, inputEvents }">
                      <input
                        class="px-2 py-1 border rounded focus:outline-none focus:border-blue-300 datepicker-input"
                        :value="inputValue"
                        placeholder="Select Date"
                        v-on="inputEvents"
                      />
                    </template>
                  </DatePicker>
                </div>
                
                  
              </div>
              <div class="col-lg-4">
                <p class="inp-wrap cat-wrap">
                  <label for="dailyLikes" class="grid-20">Daily likes</label>
                  <select name=" categories" id="dailyLikes" class="grid-80">
                    <option value="newyork" selected>Select..</option>
                    <option value="chicago">Chicago</option>
                    <option value="losangeles">Los Angeles</option>
                    <option value="seattle">Seattle</option>
                    <option value="dallas">Dallas</option>
                    <option value="boston">Boston</option>
                    <option value="sanfran">San Francisco</option>
                  </select>
                </p>
              </div>
            </div>


            <div class="row for-align-form">
              <div class="col-lg-4">
                <p class="inp-wrap cat-wrap">
                  <label for="mediaType" class="grid-20">Media type</label>
                  <select name=" categories" id="mediaType" class="grid-80">
                    <option value="newyork" selected>Select..</option>
                    <option value="chicago">Chicago</option>
                    <option value="losangeles">Los Angeles</option>
                    <option value="seattle">Seattle</option>
                    <option value="dallas">Dallas</option>
                    <option value="boston">Boston</option>
                    <option value="sanfran">San Francisco</option>
                  </select>
                </p>
              </div>

              <div class="col-lg-4">
                <p class="inp-wrap cat-wrap">
                  <label for="totalPins" class="grid-20">Total pins</label>
                  <select name=" categories" id="totalPins" class="grid-80">
                    <option value="newyork" selected>Select..</option>
                    <option value="chicago">Chicago</option>
                    <option value="losangeles">Los Angeles</option>
                    <option value="seattle">Seattle</option>
                    <option value="dallas">Dallas</option>
                    <option value="boston">Boston</option>
                    <option value="sanfran">San Francisco</option>
                  </select>
                </p>
              </div>

              <div class="col-lg-4">
                <p class="inp-wrap cat-wrap">
                  <label for="createdBetween" class="grid-20">Created between</label>
                  <select name=" categories" id="createdBetween" class="grid-80">
                    <option value="newyork" selected>Select..</option>
                    <option value="chicago">Chicago</option>
                    <option value="losangeles">Los Angeles</option>
                    <option value="seattle">Seattle</option>
                    <option value="dallas">Dallas</option>
                    <option value="boston">Boston</option>
                    <option value="sanfran">San Francisco</option>
                  </select>
                </p>
              </div>
            </div>

            <div class="row for-align-form">
              <div class="col-lg-4">
                <p class="inp-wrap cat-wrap">
                  <label for="seenBetween" class="grid-20">Seen between</label>
                  <select name=" categories" id="seenBetween" class="grid-80">
                    <option value="newyork" selected>Select..</option>
                    <option value="chicago">Chicago</option>
                    <option value="losangeles">Los Angeles</option>
                    <option value="seattle">Seattle</option>
                    <option value="dallas">Dallas</option>
                    <option value="boston">Boston</option>
                    <option value="sanfran">San Francisco</option>
                  </select>
                </p>
              </div>

              <div class="col-lg-4">
                <p class="inp-wrap for-select-color">
                  <label for="networks" class="grid-20">Networks</label>
                  <select name=" categories" id="networks" class="grid-80">
                    <option value="newyork" selected>2 Selected</option>
                    <option value="chicago">Chicago</option>
                    <option value="losangeles">Los Angeles</option>
                    <option value="seattle">Seattle</option>
                    <option value="dallas">Dallas</option>
                    <option value="boston">Boston</option>
                    <option value="sanfran">San Francisco</option>
                  </select>
                </p>
              </div>

              <div class="col-lg-4">
                <p class="inp-wrap for-select-color">
                  <label for="advertiser" class="grid-20">Advertiser</label>
                  <select name=" categories" id="advertiser" class="grid-80">
                    <option value="newyork" selected>3 selected</option>
                    <option value="chicago">Chicago</option>
                    <option value="losangeles">Los Angeles</option>
                    <option value="seattle">Seattle</option>
                    <option value="dallas">Dallas</option>
                    <option value="boston">Boston</option>
                    <option value="sanfran">San Francisco</option>
                  </select>
                </p>
              </div>
            </div>


            <div class="row for-align-form">
              <div class="col-lg-4">
                <div class="inp-wrap cat-wrap">
                  
                    <label for="affiliate" class="grid-20">Affiliate</label>
                    <div class="dropdown-input-wrapper">
                    <input type="text" placeholder="Select Affiliate" readonly name="categories" v-model="affiliate" @click.stop="openAffiliate" id="affiliate" class="grid-80 dropdown-input">
                      <img :src="require('@/assets/images/Left.svg')" class="down-arrow-search">
                  
                      <ul class="affiliate-list dropdown-list" v-click-outside="hideAffiliatePopup" v-show="affiliatePopup">
                        <li class="list-item">
                          <div class="input-container">
                            <label for="" class="affiliate-label">Affiliate ID</label>
                            <input placeholder="" class="affiliate-input" type="text">
                          </div>
                          <div class="item-button-container">                            
                            <a href="javascript:void(0)" class="save-btn" @click="openAffiliate">OK</a>
                            <a href="javascript:void(0)" class="reset-btn" @click="openAffiliate">Reset</a>
                          </div>
                        </li>
                        <li class="list-item">
                          <div class="input-container">
                            <label for="" class="affiliate-label">Offer ID</label>
                            <input placeholder="" class="affiliate-input" type="text">
                          </div>
                          <div class="item-button-container">                            
                            <a href="javascript:void(0)" class="save-btn" @click="openAffiliate">OK</a>
                            <a href="javascript:void(0)" class="reset-btn" @click="openAffiliate">Reset</a>
                          </div>
                        </li>
                      </ul>
                    </div>
                </div>
              </div>

              <div class="col-lg-4">
                <p class="inp-wrap cat-wrap">
                  <label for="technologies" class="grid-20">Technologies</label>
                  <select name=" categories" id="technologies" class="grid-80">
                    <option value="newyork" selected>Select..</option>
                    <option value="chicago">Chicago</option>
                    <option value="losangeles">Los Angeles</option>
                    <option value="seattle">Seattle</option>
                    <option value="dallas">Dallas</option>
                    <option value="boston">Boston</option>
                    <option value="sanfran">San Francisco</option>
                  </select>
                </p>
              </div>

              <div class="col-lg-4">
                <div class="inp-wrap cat-wrap">
                  <label for="countries" class="grid-20">Countries</label>
                  <div class="dropdown-input-wrapper">
                      <input type="text" :placeholder="countryPlaceholder" readonly name="categories" @click.stop="openCountry" id="categories" class="country-search-input grid-80 dropdown-input">
                      <img :src="require('@/assets/images/Left.svg')" class="down-arrow-search">

                      <ul class="country-list dropdown-list" v-click-outside="hideCountryPopup" v-show="countriesPopup">
                        <li class="list-search">
                          <div class="input-container">
                            <img :src="require('@/assets/images/search-grey.svg')" class="list-search-icon">
                            <input placeholder="Search..." type="text" v-model="countrySearch">
                          </div>
                        </li>

                        <li class="list-item" v-for="(country, index) in countryFilter" :key="country.name">
                          <label class="country-checkbox">
                            <input type="checkbox" v-model="selectedCountries" name="gender" :value="country.name" :id="`country-${index}`">
                            <span class="checkmark"></span>
                          </label>                          
                          <label :for="`country-${index}`" class="country-name">{{ country.name }}</label>
                        </li>
                        <hr>
                        <li class="list-footer">
                          <a href="javascript:void(0)" class="save-btn" @click="openCountry">OK</a>
                          <a href="javascript:void(0)" class="reset-btn" @click="openCountry">Reset</a>
                        </li>
                      </ul>
                    </div>
                </div>
              </div>
            </div>


            <div class="row for-align-form justify-center">
              <div class="col-lg-4">
                <div class="inp-wrap cat-wrap">
                  <label for="language" class="grid-20">Language</label>
                  <div class="dropdown-input-wrapper">
                      <input type="text" placeholder="Select language" v-model="currentLanguage" readonly name="categories" @click.stop="openLanguage" id="categories" class="country-search-input grid-80 dropdown-input">
                      <img :src="require('@/assets/images/Left.svg')" class="down-arrow-search">
                      <ul class="language-list dropdown-list" v-click-outside="hideLanguagePopup" v-show="languagePopup">
                        <li class="list-search">
                          <div class="input-container">
                            <img :src="require('@/assets/images/search-grey.svg')" class="list-search-icon">
                            <input placeholder="Search..." type="text" v-model="languageSearch">
                          </div>
                        </li>
                        <li class="list-item" v-for="language in languageFilter" :key="language.name">                        
                          <label :for="language.name" @click="changeLanguage($event, language.name)" class="country-name">{{ language.name }}</label>
                        </li>
                        <hr>
                        <li class="list-footer">
                          <a href="#" class="save-btn" @click="openLanguage">OK</a>
                          <a href="#" class="reset-btn" @click="openLanguage">Reset</a>
                        </li>
                      </ul>
                    </div>
                </div>
              </div>

              <div class="col-lg-4">
                <p class="inp-wrap cat-wrap">
                  <label for="buttons" class="grid-20">Buttons</label>
                  <select name=" categories" id="buttons" class="grid-80">
                    <option value="newyork" selected>Select...</option>
                    <option value="chicago">Chicago</option>
                    <option value="losangeles">Los Angeles</option>
                    <option value="seattle">Seattle</option>
                    <option value="dallas">Dallas</option>
                    <option value="boston">Boston</option>
                    <option value="sanfran">San Francisco</option>
                  </select>
                </p>
              </div>

            </div>
          </form>
        </div>
      </div>
    </section>
    <section class="second-screen-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
          <div class="for-bg-color">
            <div class="col-12">
            <div class="row align-rw py-5">
              <div class="col-lg-4">
                <div class="dropdown-select-search px-4 py-3 date-set" @click.stop="openDate">
                    <label for="">{{dateSelects}}</label>
                    <img src="/img/Left.e68b2b39.svg" class="down-arrow-search">
                    <ul class="comments-data date-filter-popup" v-click-outside="hideDateFilterPopup" v-show="datePopup">
                      <li @click="dateSelect($event, 'Date(Recent On top)')">Date(Recent On top)</li>
                      <li @click="dateSelect($event, 'Date(Oldest On top)')">Date(Oldest On top)</li>
                      <li @click="dateSelect($event, 'Likes')">Likes</li>
                      <li @click="dateSelect($event, 'Loves')">Loves</li>
                    </ul>
                </div>
              </div>
              <div class="col-lg-4 mx-4">
                <div class="dropdown-select-search px-3 py-3 select-search">
                  <img :src="require('@/assets/images/search-icon.svg')" class="mr-2">
                  <label for="" @click.stop="openSelect">{{currentSelect}}</label>
                  <ul class="comments-data select-search-popup" v-click-outside="hideSelectPopup" v-show="selectPopup">
                    <li @click="changeSelect($event, 'Select Search')" class="active">Select Search</li>
                    <li @click="changeSelect($event, 'Chicago')">Chicago</li>
                    <li @click="changeSelect($event, 'Los Angeles')">Los Angeles</li>
                    <li @click="changeSelect($event, 'Seattle')">Seattle</li>
                    <li @click="changeSelect($event, 'Dallas')">Dallas</li>
                    <li @click="changeSelect($event, 'Boston')">Boston</li>
                    <li @click="changeSelect($event, 'San')">San</li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 d-flex justify-content-end">
                <div class="save-current">
                  <button data-toggle="modal" data-target="#exampleModalCenter">Save Current Search</button>
                </div>
                <div class="modal fade manage-search-pupop" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Manage Search</h5>
                      </div>
                      <div class="modal-body">
                        <div class="manage-search-title">
                            <p class="manage-name">Name</p>
                            <p class="manage-perameters">perameters</p>
                        </div>
                        <div class="manage-title" >
                          <p>Search 1</p>
                          <div class="perameters-deatil">
                              <p>Created Between: <span>june 10, 2021</span>,</p>
                              <p>Language: <span>English</span>,</p>
                              <p>Country<span>Aland island</span>,</p>
                              <span class="close-btn-icon" @click="removeItem($event)">&times;</span>
                          </div>
                        </div>
                        <div class="manage-title" >
                          <p>Search 1</p>
                          <div class="perameters-deatil">
                              <p>Created Between: <span>june 10, 2021</span>,</p>
                              <p>Language: <span>English</span>,</p>
                              <p>Country<span>Aland island</span>,</p>
                              <span class="close-btn-icon" @click="removeItem($event)">&times;</span>
                          </div>
                        </div>
                        <div class="manage-title" >
                          <p>Search 1</p>
                          <div class="perameters-deatil">
                              <p>Created Between: <span>june 10, 2021</span>,</p>
                              <p>Language: <span>English</span>,</p>
                              <p>Country<span>Aland island</span>,</p>
                              <span class="close-btn-icon" @click="removeItem($event)">&times;</span>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary ok-btn" data-dismiss="modal">Ok</button>
                        <button type="button" class="btn btn-primary clear-btn">Clear All</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="edit-icon ml-4 d-flex">
                  <img data-toggle="modal" data-target="#exampleModalCenter1" :src="require('@/assets/images/pencil-icon.svg')">
                </div>
                <div class="modal fade serach-popup-save" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Save Search</h5>
                      </div>
                      <div class="modal-body">
                        <label>Enter Name</label>
                        <input class="" type="text" />
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary Cencel-btn" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary add-btn">Add</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mx-md-5 mx-2 mt-5">
              <div class="row img-section"> 
                <div class="row col-lg-6 col-md-12">
                  <div class="img-section-img">
                    <img :src="require('@/assets/images/tab-img1.png')">
                    <div class="top-left">
                      <div class="info-arrow">
                        <div class="info">
                          <img :src="require('@/assets/images/info.png')">
                        </div>
                        <div class="info">
                          <img :src="require('@/assets/images/arrow.png')">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-12">
                  <div class="d-flex flex-wrap text-area">
                    <div class="col-lg-6 col-md-6 col-6 icon-btn">
                      <div class="more-icon">
                        <img :src="require('@/assets/images/search-ad-more-btn.svg')">
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-6">
                      <div class="save-btn">
                        <button class="red-button">Save</button>
                      </div>
                    </div>
                    <div class="discription">
                      <p class="behance-text">Behance.net</p>
                      <router-link :to="{'name': 'search-ad-info'}" class="m-0 search-ad-title Summit-text">
                       <h1 class="Summit-text">Summit - Global Latin Leaders</h1>
                      </router-link>
                      <p class="brand-1">Branding for christian leadership Event</p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-6 icon-btn">
                      <div class="behance-logo">
                        <img :src="require('@/assets/images/beh-logo.png')">
                        <div class="line">
                          <span class="behance-profile-title">Behance</span>
                          <p class="follow">4.9m Followers</p>
                        </div>

                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-6">
                      <div class="follow-btn">
                        <button>Follow</button>
                      </div>
                    </div>
                    <p class="bold-branding">Branding for christian leadership Event</p>
                  </div>
                </div>
              </div>

              <div class="row img-section"> 
              <div class="row col-lg-6 col-md-12">
                <div class="img-section-img">
                  <img :src="require('@/assets/images/tab-img2.png')">
                  <div class="top-left">
                    <div class="info-arrow">
                      <div class="info">
                        <img :src="require('@/assets/images/info.png')">
                      </div>
                      <div class="info">
                        <img :src="require('@/assets/images/arrow.png')">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-12">
                <div class="d-flex flex-wrap text-area">
                  <div class="col-lg-6 col-md-6 col-6 icon-btn">
                    <div class="more-icon">
                      <img :src="require('@/assets/images/search-ad-more-btn.svg')">
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-6">
                    <div class="save-btn">
                      <button class="red-button">Save</button>
                    </div>
                  </div>
                  <div class="discription">
                    <p class="behance-text">Behance.net</p>
                    <router-link :to="{'name': 'search-ad-info'}" class="m-0 search-ad-title Summit-text">
                      <h1 class="Summit-text">Summit - Global Latin Leaders</h1>
                    </router-link>
                    <p class="brand-1">Branding for christian leadership Event</p>

                  </div>
                  <div class="col-lg-6 col-md-6 col-6 icon-btn">
                    <div class="behance-logo">
                      <img :src="require('@/assets/images/beh-logo.png')">
                      <div class="line">
                        <span class="behance-profile-title">Behance</span>
                        <p class="follow">4.9m Followers</p>
                      </div>

                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-6">
                    <div class="follow-btn">
                      <button>Follow</button>
                    </div>
                  </div>
                  <p class="bold-branding">Branding for christian leadership Event</p>
                </div>
              </div>
            </div>
            </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </section>
    <section class="footer">
      <div class="container">
        <div class="row for-border">
          <div class="w-100 footer-logo-center">
            <div class="footer-logo">
              <a class="m-0" href="/homepage">
              <img :src="require('@/assets/images/logo-2.png')">
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="rights">
      <div class="container">
        <div class="row">
          <div class="d-flex w-50 justify-content-between rights-content-1">
            <div class="rights-text">
              <p>Printerest Mastery BV</p>
            </div>
          </div>
          <div class="w-50 d-flex justify-content-end">
            <div class="w-75 d-flex justify-content-end">
              <div class="rights-content">
                <div class="mr-4">
                  <p><a href="/simple_content_page/privacy_policy.html">Privacy policy</a></p>
                </div>
              </div>
              <div class="rights-content">
                <div class="">
                  <p><a class="m-0" href="/simple_content_page/terms_conditions.html">Terms and conditions</a></p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
  </div>
</template>

<script>
import backgroundUrl from "@/assets/images/banner-image.png";
import logoImage from "@/assets/images/logo.png";
import backArrow from "@/assets/images/back_arrow.svg";
import { DatePicker } from 'v-calendar';
import * as yup from 'yup';

export default {
  name: 'SearchAd',
  components: {
    DatePicker,
  },
  watch: {
    selectedCountries() {
      this.countryPlaceholder = this.selectedCountries.length > 0 ? this.selectedCountries.length + ' Selected' : 'Select Country'
    },
    countrySearch() {
      let result = this.countries.filter((obj) => {
        console.log(this.countrySearch.toLowerCase().trim())
        console.log(obj.name.toLowerCase().trim().startsWith(this.countrySearch.toLowerCase().trim()))
        return obj.name.toLowerCase().trim().startsWith(this.countrySearch.toLowerCase().trim());
      });
      if(this.countrySearch == '') {
        this.countryFilter = this.countries;
      } else {
        this.countryFilter = result;
      }
    },
     languageSearch() {
      let result = this.language.filter((obj) => {
        console.log(this.languageSearch.toLowerCase().trim())
        console.log(obj.name.toLowerCase().trim().startsWith(this.languageSearch.toLowerCase().trim()))
        return obj.name.toLowerCase().trim().startsWith(this.languageSearch.toLowerCase().trim());
      });
      if(this.languageSearch == '') {
        this.languageFilter = this.language;
      } else {
        this.languageFilter = result;
      }
    },
    date() {
      console.log(this.date);
    }
  },
  data() {
    return {
      countryPlaceholder: 'Select Country',
      showDatepicker: true,
      date: new Date(),
      backgroundUrl,
      logoImage,
      countrySearch: '',
      languageSearch: '',
      countryFilter: [],
      languageFilter: [],
      backArrow,
      currentLanguage: '',
      currentComments: 'Comments',
      currentSelect: 'Select Search',
      dateSelects: 'Date(Recent On top)',
      password: yup.string().required().min(8),
      confirm_password: yup.string().required().min(8),
      genderPopup: false,
      affiliatePopup: false,
      AffiliateId: '',
      offerId: '',
      countriesPopup: false,
      languagePopup: false,
      commetsPopup: false,
      selectPopup: false,
      datePopup: false,
      selectedCountries: [],
      countries: [
        {
          name: 'Afghanistan',
        },
        {
          name: 'US'
        },
        {
          name: 'Canada'
        }
      ],
      language: [
        {
          name: 'Chicago',
        },
        {
          name: 'Los Angeles'
        },
        {
          name: 'Seattle'
        },
        {
          name:'Dallas'
        },
        {
          name:'Boston'
        },
        {
          name:'San Francisco'
        }
      ],
      gender: 'male',
      affiliate: '',
      listSearch: '',
    }
  },
  methods: {
    onSubmit() {
      this.$router.push({'name': 'Login'})
    },
    openGender() {
      this.genderPopup = !this.genderPopup;
    },
    openCountry() {
      this.countriesPopup = !this.countriesPopup
    },
    openLanguage() {
      this.languagePopup = !this.languagePopup
    },
    openCommets() {
      this.commetsPopup = !this.commetsPopup
    },
    openSelect() {
      this.selectPopup = !this.selectPopup
    },
    openAffiliate() {
      this.affiliatePopup = !this.affiliatePopup
    },
    openDate() {
      this.datePopup = !this.datePopup
    },
    changeLanguage(e, val){
      this.currentLanguage = val;
      if (document.querySelectorAll('.language-list li.active').length > 0) {
        document.querySelectorAll('.language-list li.active').forEach(el => {
          el.classList.remove('active')
        });
      }
      e.target.parentNode.classList.add('active')
      this.languageSearch = ''
      this.languagePopup = false
    },
    changeSelect(e, val){
      if (document.querySelectorAll('.select-search-popup li.active').length > 0) {
        document.querySelectorAll('.select-search-popup li.active').forEach(el => {
          el.classList.remove('active')
        });
      }
      this.currentSelect = val;

      e.target.classList.add('active')
      this.selectPopup = !this.selectPopup
    },
    dateSelect(e, val){
      if (document.querySelectorAll('.date-filter-popup li.active').length > 0) {
        document.querySelectorAll('.date-filter-popup li.active').forEach(el => {
          el.classList.remove('active')
        });
      }
      this.dateSelects  = val;
      e.target.classList.add('active')
    },
    changeCommets(e, val){
      if (document.querySelectorAll('.comments-data li.active').length > 0) {
        document.querySelectorAll('.comments-data li.active').forEach(el => {
          el.classList.remove('active')
        });
      }
      
      this.currentComments = val;
      e.target.classList.add('active')
      this.commetsPopup = !this.commetsPopup
    },
    removeItem(e) {
      e.target.parentNode.parentNode.remove()
    },
    hidePopupComment() {
      this.commetsPopup = false;
    },
    hideGenderPopup() {
      this.genderPopup = false;
    },
    hideAffiliatePopup() {
      this.affiliatePopup  = false;
    },
    hideCountryPopup() {
      this.countriesPopup = false;
    },
    hideLanguagePopup() {
      this.languagePopup = false;
    },
    hideSelectPopup() {
      this.selectPopup = false;
    },
    hideDateFilterPopup() {
      this.datePopup = false;
    }
  },  
  mounted(){
    this.countryFilter = this.countries;
    this.languageFilter = this.language;
  },
}
</script>

<style scoped>
.datepicker-wrapper {
  font-size: 14px;
  width: 100%;
  height: 100%;
  border: 0;
}

.datepicker-input {
  font-size: 14px;
  width: 95%;
  height: 100%;
  border: 0 !important;
}

</style>
